<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>RELATÓRIO ICMS EDUCACIONAL - SEDUC</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Hind+Siliguri:wght@300;400;500;600;700&display=swap"
    rel="stylesheet">
  </head>
  <body>
    <%= yield %>
  </body>
  <script src="/layout/assets/js/jquery/jquery.min.js"></script>
  <script src="/layout/assets/js/vendor/tables/datatables/datatables.min.js"></script>
  <script>
    $(document).ready(function() {
      $('.datatable').DataTable({
        "paging": false,
        "info": false,
        "bAutoWidth": false,
        "language": {
          "url": "/layout/pt-br.json"
        }
      });
    });
  </script>
</html>
