<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title><%= current_user.g_secretaria.sigla %> - Relatório de Depreciação por Competência</title>
  </head>
  <body>
    <%= yield %>
  </body>
</html>
