<div class="breadcrumb-item dropdown">
  <a href="#" class="breadcrumb-item dropdown-toggle text-dark" data-bs-toggle="dropdown" aria-expanded="false">
    <%= truncate(@a_achado.descricao.titleize, length: 40) %>
  </a>
  <div class="dropdown-menu" style="">
    <%= link_to edit_a_acordao_a_achado_path(@a_acordao, @a_achado), class: "dropdown-item" do %>
      <i class="ph-pen me-2"></i> Editar
    <% end %>
    <%= link_to a_acordao_a_achado_a_tarefas_path(@a_acordao, @a_achado), class: "dropdown-item" do %>
      <i class="ph-suitcase-simple me-2"></i> Tarefas
    <% end %>
  </div>
</div>
