<div class="breadcrumb-item dropdown">
  <a href="#" class="breadcrumb-item dropdown-toggle text-dark" data-bs-toggle="dropdown" aria-expanded="false">
    <%= "#{truncate(@e_matriz_aplicada&.e_matriz_curricular&.descricao&.titleize&.upcase, length: 60)} - #{@e_matriz_aplicada&.e_turno&.descricao}" %>
  </a>
  <div class="dropdown-menu" style="">
    <%= link_to edit_i_predio_e_matriz_aplicada_path(@i_predio, @e_matriz_aplicada), class: "dropdown-item" do %>
      <i class="ph-pen me-2"></i> Editar
    <% end %>
    <%= link_to i_predio_e_matriz_aplicada_e_turmas_path(@i_predio, @e_matriz_aplicada), class: "dropdown-item" do %>
      <i class="ph-chalkboard me-2"></i> Turmas
    <% end %>
  </div>
</div>