<div class="breadcrumb-item dropdown">
  <a href="#" class="breadcrumb-item dropdown-toggle text-dark" data-bs-toggle="dropdown" aria-expanded="false">
    <%= @i_predio.nome_fantasia.titleize %>
  </a>
  <div class="dropdown-menu" style="">
    <%= link_to edit_i_predio_path(@i_predio), class: "dropdown-item" do %>
      <i class="ph-pen me-2"></i> Editar
    <% end %>
    <%= link_to i_predio_i_blocos_path(@i_predio), class: "dropdown-item" do %>
      <i class="ph-cube me-2"></i> Blocos
    <% end %>
  </div>
</div>
