<li class="nav-item">
  <%= link_to b_boletins_mensais_path, class: "nav-link" do %>
    <i class="ph-calendar"></i>
    Boletim Mensal
  <% end %>
</li>
<li class="nav-item">
  <%= link_to boletins_super_b_boletins_mensais_path, class: "nav-link" do %>
    <i class="ph-check-circle"></i>
    Homologar Boletim (Superintendência)
  <% end %>
</li>
