<div id="<%= dom_id r_lotacao_organizacional %>">
  <p>
    <strong>R contrato servidor:</strong>
    <%= r_lotacao_organizacional.r_contrato_servidor_id %>
  </p>

  <p>
    <strong>R estrutura organizacional:</strong>
    <%= r_lotacao_organizacional.r_estrutura_organizacional %>
  </p>

</div>
