<div id="<%= dom_id r_organizacional %>">
  <p>
    <strong>Descricao:</strong>
    <%= r_organizacional.descricao %>
  </p>

  <p>
    <strong>R tipo organizacional:</strong>
    <%= r_organizacional.r_tipo_organizacional_id %>
  </p>

</div>
