<div id="<%= dom_id i_ambiente_predial %>">
  <p>
    <strong>Descricao:</strong>
    <%= i_ambiente_predial.descricao %>
  </p>

  <p>
    <strong>I predio:</strong>
    <%= i_ambiente_predial.i_predio_id %>
  </p>

</div>
