<div id="<%= dom_id r_contrato_servidor %>">
  <p>
    <strong>Matricula:</strong>
    <%= r_contrato_servidor.matricula %>
  </p>

  <p>
    <strong>G pessoa:</strong>
    <%= r_contrato_servidor.g_pessoa_id %>
  </p>

  <p>
    <strong>R cargo:</strong>
    <%= r_contrato_servidor.r_cargo_id %>
  </p>

</div>
