<div id="<%= dom_id r_estrutura_organizacional %>">
  <p>
    <strong>I ambiente predial:</strong>
    <%= r_estrutura_organizacional.i_ambiente_predial_id %>
  </p>

  <p>
    <strong>R organizacional:</strong>
    <%= r_estrutura_organizacional.r_organizacional_id %>
  </p>

</div>
