<div id="<%= dom_id i_predio %>">
  <p>
    <strong>Nome fantasia:</strong>
    <%= i_predio.nome_fantasia %>
  </p>

  <p>
    <strong>Cnpj:</strong>
    <%= i_predio.cnpj %>
  </p>

  <p>
    <strong>G municipio:</strong>
    <%= i_predio.g_municipio_id %>
  </p>

</div>
